
body {
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    max-width: 600px;
    text-align: center;
    color: rgb(195, 31, 228);
    margin: 0 auto;
}

h1,
h2 {
    font-size: 45px;
}

img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: solid black 1px;
    border-radius: 12px;
}

#first {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 25px;
    position: absolute;
    margin: 0;
    bottom: 0;
    height: 20px;
    width: 578px;
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
}

div {
    display: block;
    max-width: 700px;
    height: 250px;
    margin: 0 auto 50px auto;
    background-size: cover;
    border: solid black 1px;
    border-radius: 12px;
    position: relative;
}

#second {
    background-image: url("https://i.imgur.com/ODv54BF.jpg");
}

#third {
    background-image: url("https://i.imgur.com/SVEFX19.jpg");
}

#fourth {
    background-image: url("https://i.imgur.com/3aLGWpJ.jpg");
}

.showDescription p{
    height: 50px;
}


